.heading
{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}

.note
{
    font-size: 14px;
    color: brown;
}

button
{
    font-size: 23px;
    width: 130px;
    text-decoration-color: black;
}


body
{
    background-size: cover;
}